<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_Font_ZTP.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,40}</string>
            </dict>
            <key>IMG_Pic_JinqiRT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{591,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,188}}</string>
                <key>sourceSize</key>
                <string>{591,188}</string>
            </dict>
            <key>IMG_Pic_YuanlaiN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{591,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,188}}</string>
                <key>sourceSize</key>
                <string>{591,188}</string>
            </dict>
            <key>IMG_Pic_YuanlaiSN.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{591,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,188}}</string>
                <key>sourceSize</key>
                <string>{591,188}</string>
            </dict>
            <key>IMG_Pic_ZuixinSC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{591,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,188}}</string>
                <key>sourceSize</key>
                <string>{591,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZTP.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0666ed81ff6e21cddc7e959d1a09d6c9$</string>
            <key>textureFileName</key>
            <string>ZTP.png</string>
        </dict>
    </dict>
</plist>
