<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BNT_Channer_Email_list_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{566,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,64}}</string>
                <key>sourceSize</key>
                <string>{566,66}</string>
            </dict>
            <key>BNT_Channer_Email_list_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,64}}</string>
                <key>sourceSize</key>
                <string>{566,66}</string>
            </dict>
            <key>BNT_Email_QXZD_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,128},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>BNT_Email_QXZD_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>BNT_Email_Up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,190},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>BNT_Email_Up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,150},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>BNT_Email_WJS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,211},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>BNT_Email_WJS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,174},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>BNT_Email_YJS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,134},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>BNT_Email_YJS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,134},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>BNT_Email_colse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,150},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>BNT_Email_colse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,214},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>BNT_Yellow_QBHL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,76},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>BNT_Yellow_QBHL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>BNT_Yellow_QBSC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>BNT_Yellow_QBSC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>IMG_BG_Email_PL.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,134},{114,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>IMG_BG_dsoju_shuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,150},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>IMG_Font_JTYQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,76},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_SDXH.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,76},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_XFS.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,134},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,40}</string>
            </dict>
            <key>IMG_Font_XPL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,40}</string>
            </dict>
            <key>IMG_ICON_fens.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,134},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>IMG_ICON_pinlun.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,162},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>IMG_ICON_xianh.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,172},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>IMG_ICON_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,76},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YJXT.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61cb73ce9241628d4939b5bfcf583987$</string>
            <key>textureFileName</key>
            <string>YJXT.png</string>
        </dict>
    </dict>
</plist>
