<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_Bingbing_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,448},{96,102}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{96,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_Bingbing_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{152,244}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{152,244}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_DYB_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,400},{82,82}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{82,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_DYB_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{154,154}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{154,154}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_FML_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,344},{102,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{102,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_FML_Avatar_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{184,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,180}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_FML_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,804},{130,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_FML_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,486},{214,222}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,222}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_Feizai_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,754},{92,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{92,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_Feizai_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,252}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{146,252}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_HBG_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,856},{96,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_HBG_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{176,162}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{176,162}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_JCF_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,612},{102,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{102,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_JCF_Avatar_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,710},{178,184}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{178,184}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_JCF_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,896},{122,150}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_JCF_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,504},{192,240}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{192,240}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_LYM_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,860},{92,100}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{92,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_LYM_Avatar_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,856},{162,184}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{162,184}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_LYM_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,478},{130,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_LYM_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{198,200}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{198,200}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_LZS_Avatar186.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,670},{166,184}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{166,184}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_LZS_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,758},{94,100}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{94,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_LZS_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,370},{110,150}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_LZS_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{178,246}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{178,246}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_MLX_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,896},{120,142}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{120,142}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_MLX_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,240},{172,202}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{172,202}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_MMG_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,550},{98,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{98,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_MMG_Avatar_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,484},{170,184}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{170,184}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_MMG_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,896},{112,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{112,150}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_MMG_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,746},{170,230}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{170,230}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_Mumu_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,158},{94,102}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_Mumu_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{148,236}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{148,236}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_Nvwang_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,652},{92,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{92,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_Nvwang_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{140,244}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{140,244}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_Pipi_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,448},{100,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_Pipi_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{166,242}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{166,242}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_QCD_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,656},{98,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{98,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_QCD_Avatar_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,710},{170,184}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{170,184}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_QCD_Figure_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,370},{106,148}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{106,148}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>IMG_QCD_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,248},{170,236}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{170,236}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_RRJ_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,552},{102,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{102,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_RRJ_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,204},{194,176}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,27},{194,176}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_SLM_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,936},{88,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{88,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_SLM_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,180},{162,148}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{162,148}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_TXZ_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,400},{82,92}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{82,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_TXZ_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,188},{162,180}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{162,180}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_YLT_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,716},{80,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{80,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>IMG_YLT_Figure_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,658},{132,144}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{132,144}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>MG_MLX_Avatar_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,936},{86,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{86,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>MG_MLX_Avatar_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,482},{148,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{148,174}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Touxiang.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3085899fa108da7d1cca45f60ae54890$</string>
            <key>textureFileName</key>
            <string>Touxiang.png</string>
        </dict>
    </dict>
</plist>
