<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BNT_Game_Daoju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,170},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BNT_Game_Daoju_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,88},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BNT_Game_Jineng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BNT_Game_Jineng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BNT_Game_Top_Stop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,196},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>BNT_Game_Top_Stop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>BNT_Yellow_Goumai_S01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>BNT_Yellow_Goumai_S02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,66}}</string>
                <key>sourceSize</key>
                <string>{212,66}</string>
            </dict>
            <key>IMG_Game_BG_Channer_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>IMG_Game_BG_Top_Heart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{180,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,30}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>IMG_Game_BG_Top_Heart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{174,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{174,24}}</string>
                <key>sourceSize</key>
                <string>{180,30}</string>
            </dict>
            <key>IMG_Game_BG_Top_Star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,178},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>IMG_Game_BG_Top_Star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,228},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,24}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>IMG_Game_BG_Top_Time.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,196},{76,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,30}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>IMG_Game_BG_hanner_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>IMG_Game_BT_Blue_Yuan_Add.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,196},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>IMG_Game_BT_Red_Yuan_MB.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,196},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>IMG_Game_Down_JN.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,210},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>IMG_Game_ICON_Top_Heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,196},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>IMG_Game_ICON_Top_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,196},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>IMG_Game_ICON_Top_Time.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,196},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YXJM.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba3529674d93cca5c791d780e3e83258$</string>
            <key>textureFileName</key>
            <string>YXJM.png</string>
        </dict>
    </dict>
</plist>
