#cat .gitignore
bin
cocos2d
proj.linux/
proj.ios_mac/
proj.wp8-xaml/
#proj.android/
.cocos-project.json
CMakeLists.txt
proj.win32/
!proj.win32/MyCppGame.vcxproj
!proj.win32/MyCppGame.vcxproj.filters
Win32Test/


#--------------------------------------
!proj.android/jni/Android.mk
!proj.android/jni/Application.mk
!proj.android/AndroidManifest.xml