<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,80},{76,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,156},{78,72}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,45},{78,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,230},{76,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,158},{76,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,158},{76,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,158},{76,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,80},{76,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,80},{76,76}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{76,78}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{76,78}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,356},{76,84}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{76,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,80},{76,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,356},{76,84}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{76,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,268},{76,86}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{76,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,268},{76,86}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{76,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,174},{76,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,174},{76,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,92}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,80},{76,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{76,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{76,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{76,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{76,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{76,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{76,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{76,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{80,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{76,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{80,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{80,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{76,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Die/ANI_Pipi_Front_Die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,156},{78,72}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,45},{78,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pipi_Die.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e63f0cb3003f1743461cef0ae236ec$</string>
            <key>textureFileName</key>
            <string>Pipi_Die.png</string>
        </dict>
    </dict>
</plist>
