<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_Die_Effects_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,72},{8,8}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{8,8}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,50},{24,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,26},{24,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,82},{28,24}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,42},{28,26}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,82},{28,28}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,72},{8,12}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{8,12}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,116},{10,12}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{10,12}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,26},{14,18}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{14,18}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,112},{14,22}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{14,22}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{18,14}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{18,14}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,112},{20,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{20,14}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{22,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{22,16}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Die_Effects_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>ANI_Hit_Effects_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{10,12}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{10,12}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>ANI_Hit_Effects_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{18,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{18,32}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>ANI_Hit_Effects_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{26,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>ANI_Hit_Effects_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Did_Hit.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8f52cb20b7972277673c8be5c2344d$</string>
            <key>textureFileName</key>
            <string>Did_Hit.png</string>
        </dict>
    </dict>
</plist>
