<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BNT_Game_Blue_CXKS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,634},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>BNT_Game_Blue_CXKS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>BNT_Game_Blue_FHZJM_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>BNT_Game_Blue_FHZJM_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>BNT_Game_Green_Guanzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,865},{128,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,71}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>BNT_Game_Green_Guanzhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,865},{128,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,71}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>BNT_Game_Icon_Green_FDJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,792},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BNT_Game_JB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,984},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>BNT_Game_JB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>BNT_Game_Light_ZLYJ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,624},{166,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,70}}</string>
                <key>sourceSize</key>
                <string>{166,70}</string>
            </dict>
            <key>BNT_Game_Light_ZLYJ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,624},{166,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,70}}</string>
                <key>sourceSize</key>
                <string>{166,70}</string>
            </dict>
            <key>BNT_Game_Yelloe_JXYX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>BNT_Game_Yelloe_JXYX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>BNT_Game_Yellow_Fuhuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,550},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>BNT_Game_Yellow_Fuhuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,476},{168,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,72}}</string>
                <key>sourceSize</key>
                <string>{168,72}</string>
            </dict>
            <key>BNT_Game_Yollow_Songhua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,870},{128,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,71}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>BNT_Game_Yollow_Songhua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,792},{128,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,71}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>IMG_Font_JSCG.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,476},{148,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_JSSB.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,626},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Game_BG_JL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{292,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,98}}</string>
                <key>sourceSize</key>
                <string>{292,98}</string>
            </dict>
            <key>IMG_Game_BG_WCD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{286,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,56}}</string>
                <key>sourceSize</key>
                <string>{286,56}</string>
            </dict>
            <key>IMG_Game_BG_ZT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,472}}</string>
                <key>sourceSize</key>
                <string>{506,472}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TGJS.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f554a655f2b4e65ef5561d15151f29b8$</string>
            <key>textureFileName</key>
            <string>TGJS.png</string>
        </dict>
    </dict>
</plist>
