<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTN_Blue_ADDphoto_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{561,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,47}}</string>
                <key>sourceSize</key>
                <string>{561,47}</string>
            </dict>
            <key>BTN_Blue_ADDphoto_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{561,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,47}}</string>
                <key>sourceSize</key>
                <string>{561,47}</string>
            </dict>
            <key>BTN_Blue_Role_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,156},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>BTN_Blue_Role_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,156},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>BTN_Blue_Spirit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,106},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>BTN_Blue_Spirit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,79},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>BTN_Channer_Main_Attention.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{565,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,61}}</string>
                <key>sourceSize</key>
                <string>{565,61}</string>
            </dict>
            <key>BTN_Email_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,185},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BTN_Email_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,156},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BTN_Marquee_Orange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,212},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>BTN_Marquee_Orange_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,212},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>BTN_Options.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,61}}</string>
                <key>sourceSize</key>
                <string>{565,61}</string>
            </dict>
            <key>BTN_Settings_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BTN_Settings_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BTN_Yellow_Find_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{188,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,75}}</string>
                <key>sourceSize</key>
                <string>{188,75}</string>
            </dict>
            <key>BTN_Yellow_Find_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{188,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,75}}</string>
                <key>sourceSize</key>
                <string>{188,75}</string>
            </dict>
            <key>BTN_Yellow_News_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,79},{136,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,75}}</string>
                <key>sourceSize</key>
                <string>{136,75}</string>
            </dict>
            <key>BTN_Yellow_News_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,79},{136,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,75}}</string>
                <key>sourceSize</key>
                <string>{136,75}</string>
            </dict>
            <key>IMG_Heart_Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,185},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>IMG_Heart_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,208},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZJM.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb19b384461e4774a0653f48273b333$</string>
            <key>textureFileName</key>
            <string>ZJM.png</string>
        </dict>
    </dict>
</plist>
