<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{86,142}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{86,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,842},{84,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{84,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{124,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{124,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{124,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{124,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{86,142}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{86,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{90,148}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{90,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{90,148}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{90,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,782},{106,144}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{106,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,782},{106,144}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{106,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{96,128}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{96,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{96,128}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{96,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back45_Walk/ANI_Qicaidie_Back45_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,842},{84,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{84,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,288},{76,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,25},{76,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,712},{90,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{90,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,146},{134,140}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{134,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,282},{134,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{134,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,288},{76,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,25},{76,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,634},{102,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{102,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,634},{102,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{102,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,624},{142,142}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{142,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,624},{142,142}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{142,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,144},{82,132}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{82,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,144},{82,132}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{82,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Back_Walk/ANI_Qicaidie_Back_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,712},{90,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{90,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{92,152}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{92,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,156},{86,142}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{86,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{78,154}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{78,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{78,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,15},{78,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,324},{90,152}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{90,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{88,158}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{88,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,160}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{88,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,152}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{88,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,156},{86,150}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{86,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,430},{102,138}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{102,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,572},{102,138}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{102,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Bide_Walk/ANI_Qicaidie_Bide_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{86,142}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,12},{86,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,452},{82,142}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,27},{82,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,430},{92,140}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,21},{92,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,478},{102,144}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{102,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,478},{102,144}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{102,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,452},{82,142}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,27},{82,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,288},{116,140}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{116,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,288},{116,140}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{116,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,928},{94,132}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{94,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,928},{94,132}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{94,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,912},{110,138}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{110,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,912},{110,138}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{110,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front45_Walk/ANI_Qicaidie_Front45_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,430},{92,140}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,21},{92,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,144},{80,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{80,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,134},{82,130}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{82,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,768},{132,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{132,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,768},{132,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{132,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,144},{80,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{80,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,308},{92,142}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{92,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,308},{92,142}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{92,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{140,126}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{140,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{140,126}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{140,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{92,130}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,15},{92,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{92,130}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,15},{92,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ANI_Qicaidie_Front_Walk/ANI_Qicaidie_Front_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,134},{82,130}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{82,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Qicaidie_Walk.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c24b046d766a48b0a79492d5c9f481$</string>
            <key>textureFileName</key>
            <string>Qicaidie_Walk.png</string>
        </dict>
    </dict>
</plist>
