<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_FML_Skill_SDY_Black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,54},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_Black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_Black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,24},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_White_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_White_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_White_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FML_Skill_Yun.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:944c616313e067a69777ee917e230578$</string>
            <key>textureFileName</key>
            <string>FML_Skill_Yun.png</string>
        </dict>
    </dict>
</plist>
