<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{76,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,80},{76,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,80},{76,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,80},{76,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{76,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,158},{76,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,158},{76,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,322},{78,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,322},{78,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,158},{76,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,158},{76,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back45_Walk/ANI_Pipi_Back45_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,80},{76,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,392},{76,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,314},{76,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,392},{76,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,392},{76,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,392},{76,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,314},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,314},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{76,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,236},{76,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Back_Walk/ANI_Pipi_Back_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,314},{76,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,314},{68,76}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,314},{68,76}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,82},{70,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,82},{70,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,402},{72,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,402},{72,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,236},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,236},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,314},{68,76}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{70,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{70,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,402},{72,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,402},{72,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,236},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,236},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Bide_Walk/ANI_Pipi_Bide_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,314},{68,76}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,80},{74,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,158},{74,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,80},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,80},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,158},{74,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,158},{74,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,236},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,236},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,80},{74,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{74,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{74,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,236},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,236},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front45_Walk/ANI_Pipi_Front45_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,158},{74,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,396},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,396},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,240},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{78,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ANI_Pipi_Front_Walk/ANI_Pipi_Front_Walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pipi_Walk.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aada1dd26951d65ff72001873550774c$</string>
            <key>textureFileName</key>
            <string>Pipi_Walk.png</string>
        </dict>
    </dict>
</plist>
