<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guard_Die/ANI_Guard_Die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,85},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{25,26}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,100},{45,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,42}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,62},{21,40}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{21,40}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{61,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,58}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{61,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,58}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,53},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{51,50}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,51},{49,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{49,46}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,62},{45,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{45,44}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Die/ANI_Guard_Die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,62},{45,44}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{45,44}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,104},{21,18}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{21,18}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{47,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{47,56}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{49,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,51},{25,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{25,32}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,113},{31,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{31,38}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,105},{37,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{37,40}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,99},{41,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{41,46}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,98},{41,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{41,48}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,55},{43,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{43,50}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,51},{45,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{45,52}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Guard_Revive/ANI_Guard_Revive_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{47,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{47,54}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Guard_Die_Revive.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa9d0d99ca8ea92e1e36ad8c73bb9f69$</string>
            <key>textureFileName</key>
            <string>Guard_Die_Revive.png</string>
        </dict>
    </dict>
</plist>
