<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_Nvwang_Front_Skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,174},{63,65}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{63,65}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{73,101}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{73,101}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,105},{71,99}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{71,99}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,206},{69,97}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{69,97}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,206},{69,93}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{69,93}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,305},{69,93}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{69,93}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,418},{71,89}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{71,89}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,420},{73,89}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,400},{75,87}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,427},{77,61}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{77,61}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,346},{79,59}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{79,59}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,315},{87,101}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{87,101}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,435},{81,75}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{81,75}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,89},{83,75}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{83,75}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{85,77}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{85,77}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,91},{85,77}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{85,77}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,265},{85,73}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{85,73}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,178},{85,73}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{85,73}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{83,69}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{83,69}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,178},{85,69}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{85,69}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,390},{87,67}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{87,67}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,105},{89,67}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{89,67}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,212},{87,101}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{87,101}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,301},{87,67}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{87,67}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{65,41}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{65,41}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{63,39}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,27},{63,39}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,265},{79,77}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{79,77}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,352},{81,75}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{81,75}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{87,77}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{87,77}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{89,77}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{89,77}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,87},{61,65}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{61,65}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{87,101}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{87,101}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,107},{85,101}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{85,101}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,103}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{83,103}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{81,101}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{81,101}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{79,103}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{79,103}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>ANI_Nvwang_Front_Skill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{77,103}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{77,103}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Nvwang_Skill.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcfc3591672a4c86dbce940f43aef363$</string>
            <key>textureFileName</key>
            <string>Nvwang_Skill.png</string>
        </dict>
    </dict>
</plist>
