<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BNT_Select_Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>BNT_Select_Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>IMG_Arrow_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>IMG_BG_Select_Xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,168}}</string>
                <key>sourceSize</key>
                <string>{104,168}</string>
            </dict>
            <key>IMG_Font_JQRT.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_dianji_jietu.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,44},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JQRT.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389092ce76918125768925fce554d0ce$</string>
            <key>textureFileName</key>
            <string>JQRT.png</string>
        </dict>
    </dict>
</plist>
