<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BNT_APP_Arrow_Gray_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1000},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>BNT_APP_Arrow_Gray_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>BNT_APP_BG_Duihuak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,246},{590,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,134}}</string>
                <key>sourceSize</key>
                <string>{590,134}</string>
            </dict>
            <key>BNT_APP_BG_SCDT_SHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{590,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,150}}</string>
                <key>sourceSize</key>
                <string>{590,150}</string>
            </dict>
            <key>BNT_APP_Blue_LJT_A01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,128},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>BNT_APP_Blue_LJT_A02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,966},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>BNT_APP_Blue_LJT_B01.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,966},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>BNT_APP_Blue_LJT_B02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,966},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>BNT_APP_KUANG_SCDT_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>BTN_Select_Blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,992},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>BTN_Select_Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,992},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>IMG_APP_BG_TJZR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{600,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,75}}</string>
                <key>sourceSize</key>
                <string>{600,75}</string>
            </dict>
            <key>IMG_APP_BG_XZJL_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,246},{550,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,214}}</string>
                <key>sourceSize</key>
                <string>{550,214}</string>
            </dict>
            <key>IMG_APP_BG_XZZR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,242}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,242}}</string>
                <key>sourceSize</key>
                <string>{610,244}</string>
            </dict>
            <key>IMG_APP_ICON_Blue_KJFW.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,798},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>IMG_APP_ICON_Blue_SHFS.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,798},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>IMG_APP_KUANG_SCDT.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,840},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>IMG_APP_icon_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,798},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>IMG_BG_PIN_BLUE_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,246},{590,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,86}}</string>
                <key>sourceSize</key>
                <string>{590,86}</string>
            </dict>
            <key>IMG_BG_PIN_BLUE_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,246},{590,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,86}}</string>
                <key>sourceSize</key>
                <string>{590,86}</string>
            </dict>
            <key>IMG_BG_PIN_BLUE_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,246},{590,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,86}}</string>
                <key>sourceSize</key>
                <string>{590,86}</string>
            </dict>
            <key>IMG_Font_KJFW.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,840},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_SCTP.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,840},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_SHFS.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,840},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_XZJL.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,798},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>IMG_Font_XZZR.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,848},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SCDT.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a377fb78b7220f6fe55a395ad79352$</string>
            <key>textureFileName</key>
            <string>SCDT.png</string>
        </dict>
    </dict>
</plist>
