<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_FML_Skill_LJF_Black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,364},{66,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{66,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{72,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,152},{68,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{72,74}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,218},{72,72}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{72,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{74,74}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,78},{70,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{72,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{68,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,216},{66,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{66,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,292},{66,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{66,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{72,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,148},{68,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,220},{64,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_Black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,284},{66,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{66,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,296},{66,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{66,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,78},{68,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{74,74}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,222},{72,72}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{72,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{82,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{74,74}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{70,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,76},{72,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,150},{66,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{66,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,148},{66,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{66,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,286},{66,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{66,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{72,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,78},{68,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,218},{64,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ANI_FML_Skill_LJF_White_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,284},{66,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{66,72}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FML_Skill_LJF.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0bc4136768da0140c2d81cf9065f27a$</string>
            <key>textureFileName</key>
            <string>FML_Skill_LJF.png</string>
        </dict>
    </dict>
</plist>
