<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_Nvwang_Front_Magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3414,2},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,2},{212,236}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{212,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3628,2},{228,230}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{228,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3620,236},{228,230}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{228,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2124,242},{212,236}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{212,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2338,240},{210,236}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,37},{210,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{206,238}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{206,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,218},{214,228}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,45},{214,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,2},{214,230}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{214,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{3406,236},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,244}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{222,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,2},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{3192,236},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2986,2},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2978,236},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2772,2},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2764,236},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2558,2},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2550,236},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2344,2},{212,232}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,41},{212,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{212,240}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,33},{212,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,242},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ANI_Nvwang_Front_Magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,248},{210,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{210,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Nvwang_Magic.png</string>
            <key>size</key>
            <string>{4096,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0233c76d98a568fb6e3fdf2940775fa$</string>
            <key>textureFileName</key>
            <string>Nvwang_Magic.png</string>
        </dict>
    </dict>
</plist>
