<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,729}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,729}}</string>
                <key>sourceSize</key>
                <string>{580,729}</string>
            </dict>
            <key>IMG_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,167},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>IMG_fanhui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,113},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>IMG_fanhui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,113},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>IMG_huweixinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{465,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,308}}</string>
                <key>sourceSize</key>
                <string>{465,308}</string>
            </dict>
            <key>IMG_shouling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{229,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,261}}</string>
                <key>sourceSize</key>
                <string>{229,261}</string>
            </dict>
            <key>IMG_xmingchengditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,24}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>IMG_xshouling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>IMG_xxbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,221},{148,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,31}}</string>
                <key>sourceSize</key>
                <string>{148,31}</string>
            </dict>
            <key>TMG_huweitujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,167},{144,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,45}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HWYJ.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2377d9a9592aa5c394543c8667b809fd$</string>
            <key>textureFileName</key>
            <string>HWYJ.png</string>
        </dict>
    </dict>
</plist>
