<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BNT_APP_Back_Blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,808},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>BNT_APP_Back_Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,868},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>BNT_APP_ICON_MORE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,494},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_MORE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,258},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_Pinglun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,390},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_Pinglun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,338},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_Renqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,442},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_Renqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,390},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_Shangchuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,338},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_APP_ICON_Shangchuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,122},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BNT_Game_Close_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,547},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>BNT_Game_Close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,547},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>BNT_Red_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,174},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>BNT_Red_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,286},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>BNT_Yellow_Queding_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,868},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>BNT_Yellow_Queding_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,868},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>BNT_Yellow_S_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,122},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>BNT_Yellow_S_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,122},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>BTN_Back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,547},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>BTN_Back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,547},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>BTN_Number_Add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,922},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BTN_Number_Add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,978},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BTN_S_Juese_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,174},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>BTN_S_Juese_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,478},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>BTN_Time_Add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,923},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>BTN_Time_Add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,923},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>IMG_APP_BG_B_LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{177,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,32}}</string>
                <key>sourceSize</key>
                <string>{177,32}</string>
            </dict>
            <key>IMG_APP_BG_Blue_B_Juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,808},{186,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,188}}</string>
                <key>sourceSize</key>
                <string>{186,188}</string>
            </dict>
            <key>IMG_APP_BG_JLXZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{602,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,288}}</string>
                <key>sourceSize</key>
                <string>{602,290}</string>
            </dict>
            <key>IMG_APP_BT_BG_LightBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{590,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,100}}</string>
                <key>sourceSize</key>
                <string>{590,100}</string>
            </dict>
            <key>IMG_APP_DT_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{605,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,117}}</string>
                <key>sourceSize</key>
                <string>{605,117}</string>
            </dict>
            <key>IMG_APP_DT_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{603,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{603,218}}</string>
                <key>sourceSize</key>
                <string>{605,218}</string>
            </dict>
            <key>IMG_APP_DT_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{603,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{603,89}}</string>
                <key>sourceSize</key>
                <string>{605,89}</string>
            </dict>
            <key>IMG_APP_DT_LightBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{342,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,169}}</string>
                <key>sourceSize</key>
                <string>{342,169}</string>
            </dict>
            <key>IMG_APP_DT_Photo_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,603},{203,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,169}}</string>
                <key>sourceSize</key>
                <string>{203,169}</string>
            </dict>
            <key>IMG_APP_DT_Touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,923},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,24}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>IMG_APP_ICON_Blue_Boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,987},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>IMG_APP_ICON_Red_Girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,956},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>IMG_APP_PIC_Photo_Jiany.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,358},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>IMG_APP_Yuan_Photo_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,864},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>IMG_APP_Yuan_Photo_Bg_Nei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>IMG_APP_Yuan_Photo_S_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>IMG_APP_Yuan_Photo_S_Bg_Nei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,286},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IMG_Arrow_L_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,989},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>IMG_Arrow_R_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,989},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>IMG_BBlue_Date.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,923},{198,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,26}}</string>
                <key>sourceSize</key>
                <string>{198,26}</string>
            </dict>
            <key>IMG_BG_L_Juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,606},{220,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,260}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>IMG_BG_SHFS_xiangk.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,606},{256,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,176}}</string>
                <key>sourceSize</key>
                <string>{260,176}</string>
            </dict>
            <key>IMG_BG_TS_FOUR.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,607},{314,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,290}}</string>
                <key>sourceSize</key>
                <string>{314,290}</string>
            </dict>
            <key>IMG_BG_TS_TWO.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,606},{314,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,156}}</string>
                <key>sourceSize</key>
                <string>{314,156}</string>
            </dict>
            <key>IMG_Blue_Boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,989},{20,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,19}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>IMG_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,596},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>IMG_Diamond_Shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,310},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>IMG_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,80},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>IMG_Gold_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,490},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>IMG_Heart_Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,442},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>IMG_Heart_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,546},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>IMG_Heart_Red_Duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,922},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>IMG_Info_Oneself_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{543,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,98}}</string>
                <key>sourceSize</key>
                <string>{543,98}</string>
            </dict>
            <key>IMG_Info_Others_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{543,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,98}}</string>
                <key>sourceSize</key>
                <string>{543,98}</string>
            </dict>
            <key>IMG_Input_DOWN_PL_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{478,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,60}}</string>
                <key>sourceSize</key>
                <string>{478,60}</string>
            </dict>
            <key>IMG_LINE_DZT_JB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{590,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,2}}</string>
                <key>sourceSize</key>
                <string>{590,2}</string>
            </dict>
            <key>IMG_LINE_DZT_xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1019},{504,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,2}}</string>
                <key>sourceSize</key>
                <string>{504,2}</string>
            </dict>
            <key>IMG_Line_PL_LBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{560,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,2}}</string>
                <key>sourceSize</key>
                <string>{560,2}</string>
            </dict>
            <key>IMG_Main_Photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>IMG_Medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,862},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,84}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>IMG_Medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{71,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,82}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>IMG_Medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,174},{71,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,82}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>IMG_Number_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,181},{175,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,38}}</string>
                <key>sourceSize</key>
                <string>{175,38}</string>
            </dict>
            <key>IMG_Number_Big_Gray_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,546},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>IMG_Number_Big_Yelllow_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,948},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>IMG_Number_X_yelllow.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,993},{24,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>IMG_Point_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,993},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>IMG_Red_Girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,989},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>IMG_Rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,80},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>IMG_Select_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,949},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>IMG_Time_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,864},{127,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,35}}</string>
                <key>sourceSize</key>
                <string>{127,35}</string>
            </dict>
            <key>IMG_W_S_Duihua_$.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,989},{16,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>IMG_suozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,922},{86,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{86,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GGZY.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a441195e29690e5de4703425943ad58$</string>
            <key>textureFileName</key>
            <string>GGZY.png</string>
        </dict>
    </dict>
</plist>
