<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_FML_Skill_SDY_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,128},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{50,20}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,54},{50,20}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,132},{50,22}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{50,22}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,54},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{50,38}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,38}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{50,38}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,38}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,202},{50,54}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,54}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,70},{60,54}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{60,66}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{60,66}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,106},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,70},{50,66}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{50,66}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,82},{50,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{50,78}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{50,78}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,138},{50,62}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{50,62}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,150},{50,72}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{50,72}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{50,84}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{50,84}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,162},{50,74}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{50,74}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,166},{50,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,78}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,86},{50,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,78}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,76},{50,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,72}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,54},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,72}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{50,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,76}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,82}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,82}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,88}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,88}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,184},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,132},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,132},{50,24}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,24}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,224},{50,24}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,24}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,184},{50,20}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,184},{50,20}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{50,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>ANI_FML_Skill_SDY_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,202},{52,20}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{52,20}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FML_Skill_SDY.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f0d0335524f6c7eac8495aeeedcf50$</string>
            <key>textureFileName</key>
            <string>FML_Skill_SDY.png</string>
        </dict>
    </dict>
</plist>
