<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ANI_SLM_Front_Skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{40,17}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{40,17}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,17}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,17}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,21}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,21}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{30,21}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{30,21}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,80},{36,19}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,34},{44,19}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{44,19}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,21},{46,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{46,17}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ANI_YLT_Front_Skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,80},{30,17}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,17}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Huwei_Skill.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be07e04ccf45fc741a68071abf57427$</string>
            <key>textureFileName</key>
            <string>Huwei_Skill.png</string>
        </dict>
    </dict>
</plist>
